#RewriteEngine on

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#http://www.example.com/index.php?module=news  to http://www.example.com/news
#RewriteRule ^(.*)$ index.php?module=$1 [L,QSA]
#END BACKUP

#Options +FollowSymLinks
#Options +Indexes
Options +FollowSymLinks -Indexes
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f


#1
#http://www.example.com/index.php?module=news  to http://www.example.com/news
#profile mode http://www.example.com/index.php?module=bekaku => http://www.example.com/bekaku

RewriteRule ^([a-zA-Z0-9-]+)$ index.php?module=$1 [L,QSA]
RewriteRule ^([a-zA-Z0-9-]+)/$ index.php?module=$1 [L,QSA]

#2
#profile mode http://xxx.com/index.php?modules=bekaku&module_param2=shop  => http://xxx.com/bekaku/shop
#profile mode http://xxx.com/index.php?modules=bekaku&module_param2=photos  => http://xxx.com/bekaku/photos
#profile mode http://xxx.com/index.php?modules=bekaku&module_param2=topics  => http://xxx.com/bekaku/topics
#profile mode http://xxx.com/index.php?modules=bekaku&module_param2=following  => http://xxx.com/bekaku/following
#profile mode http://xxx.com/index.php?modules=bekaku&module_param2=followers  => http://xxx.com/bekaku/followers
#profile mode http://xxx.com/index.php?modules=profile&module_param2=edit  => http://xxx.com/profile/edit

RewriteRule ^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)$ index.php?module=$1&module_param2=$2 [L,QSA]
RewriteRule ^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/$ index.php?module=$1&module_param2=$2 [L,QSA]

#environment variable
#PROJECT_HOME is path after your web server DocumentRoot
SetEnv PROJECT_HOME /gradius_api
#PROJECT_DATA_HOME is real path of 'data' folder
SetEnv PROJECT_DATA_HOME C:/xampp/htdocs/gradius_api/data
#PROJECT_DATA_DISPLAY is path for access from public
SetEnv PROJECT_DATA_DISPLAY /gradius_api/data
