.color{  color: #0fbcf9;  }
.color{  color: #ffd32a;  }
.color{  color: #0be881;  }
.color{  color: #E91E63;  }
.color{  color: #a55eea;  }
.color{  color: #f5f6fa;  }
.color{  color: #FF5722;  }
.color{  color: #3666b9;  }
.color{  color: #00f140;  }
.color{  color: #e0361d;  }
.color{  color: #4d0079;  }
.color{  color: #ffa400;  }
.color{  color: #a34b2a;  }
.color{  color: #ef2db4;  }
.color{  color: #96bd5e;  }
.color{  color: #d4d5d0;  }
.color{  color: #8e61a2;  }
.color{  color: #c5a3a8;  }
.color{  color: #848079;  }
.color{  color: #3eb362;  }
.color{  color: #cd5a8c;  }
.color{  color: #d97234;  }
.color{  color: #8b2111;  }


.color{  color: #7bbf82;  }
.color{  color: #f5d767;  }
.color{  color: #df6e4c;  }
.color{  color: #3d7ab0;  }
.color{  color: #a55eea;  }
.color{  color: #0be881;  }
.xx{
    width: 15px;height: auto;

}


.color{  color: #c5effe;  }
.color{  color: #058fbf;  }
.color{  color: #035d7d;  }
.color{  color: #0fbcf9;  }
.color{  color: #0fbcf9;  }

